<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Cars list</h1>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>VIN</th>
        <th>Model</th>
        <th>Mileage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getVIN()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getMileage()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>